# Nettoyage de la dataset avec Spark (pyspark)

In [ ]:
!pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting numpy
  Downloading numpy-2.0.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 183.9 kB/s eta 0:00:00a 0:00:01
Downloading numpy-2.0.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.3 MB)
   ━━━━━━━╺━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.5/19.3 MB 1.0 MB/s eta 0:00:160m

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, format_string,round,lit,when,regexp_replace,ceil,concat

In [2]:
# Initialiser la session Spark
spark = SparkSession.builder \
    .appName("Nettoyage des données financières") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## Nettoyage des données financières des clients

In [3]:
df = spark.read.option("header", "true").option("encoding", "UTF-8").csv("/Omnidata_PFE_dataset/Situation_Financière.csv")
df.show()

+------+---------------+------------+--------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|              Revenu|Montant_revenu|
+------+---------------+------------+--------------------+--------------+
|PDBO18|             30|   Crediteur|Investissements i...|         31240|
|URKQ44|              9|   Crediteur|Travail Independa...|         21402|
|CJHP88|             37|   Crediteur|Location Immobili...|         46840|
|MFVC48|             33|   Crediteur|Salaire Net (1007...|         78981|
|FRQG19|             79|   Crediteur|Salaire Net (1520...|          5620|
|AFSY16|             77|   Crediteur|Placements Financ...|         94054|
|OOJJ49|             81|    Debiteur|Salaire Net (1522...|         65277|
|GUTI55|             58|   Crediteur|Salaire Net (2069...|         34914|
|YEBV67|             39|   Crediteur| Salaire Net (22364)|          7647|
|HFRK17|             42|   Crediteur|           Agricoles|         26259|
|DPNR37|             74|    Debiteur|Travail Independa...|         90618|
|QLYU27|             11|    Debiteur|Placements Financ...|         80003|
|HHRX13|             30|    Debiteur|Location Immobiliere|         83187|
|VQVX26|             90|    Debiteur|Salaire Net (4109...|         85992|
|ZWDD81|             72|    Debiteur|Dividendes- Pensi...|         36347|
|FZGH80|             70|   Crediteur|Investissements i...|         91563|
|IGAI28|             67|    Debiteur|Location Immobili...|         94794|
|OBEY66|             75|   Crediteur|Placements Financ...|         39481|
|MGGK58|             27|   Crediteur|Investissements i...|         85471|
|HKES60|             43|    Debiteur|           Agricoles|          2844|
+------+---------------+------------+--------------------+--------------+
only showing top 20 rows

In [4]:
# Afficher le schéma pour vérifier les types de données
df.printSchema()

root
 |-- Emp_ID: string (nullable = true)
 |-- TauxEndettement: string (nullable = true)
 |-- Depense_Gain: string (nullable = true)
 |-- Revenu: string (nullable = true)
 |-- Montant_revenu: string (nullable = true)

In [5]:
# Nombre d'élément dans la dataset
print(df.count())

1000000

#### Transformer les taux d'endettement dans un intervalle [0,60]

In [6]:
# Convertir la colonne TauxEndettement en entier (int)
filtered_df = df.withColumn("TauxEndettement", col("TauxEndettement").cast("int"))

# Filtrer les lignes où TauxEndettement > 60
filtered_df = filtered_df.filter(col("TauxEndettement") > 60)

# Compter le nombre de lignes filtrées
count = filtered_df.count()

print(f"Nombre de personnes dont le TauxEndettement est supérieur à 60: {count}")

Nombre de personnes dont le TauxEndettement est supérieur à 60: 395738

In [7]:
from pyspark.sql.functions import col, when

# Filtrer les lignes où TauxEndettement > 60
filtered_df = filtered_df.filter(col("TauxEndettement") > 50)

# Modifier le TauxEndettement pour les personnes dont le TauxEndettement > 50
filtered_df = df.withColumn("TauxEndettement", 
                                     when(col("TauxEndettement") > 50, 
                                          ((col("TauxEndettement") - 50) * 50 / (100 - 50)))
                                     .otherwise(col("TauxEndettement")).cast("int"))


# Afficher le schéma pour vérifier les types de données
filtered_df.printSchema()

# Afficher quelques lignes pour vérifier les modifications
filtered_df.show()

root
 |-- Emp_ID: string (nullable = true)
 |-- TauxEndettement: integer (nullable = true)
 |-- Depense_Gain: string (nullable = true)
 |-- Revenu: string (nullable = true)
 |-- Montant_revenu: string (nullable = true)

+------+---------------+------------+--------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|              Revenu|Montant_revenu|
+------+---------------+------------+--------------------+--------------+
|PDBO18|             30|   Crediteur|Investissements i...|         31240|
|URKQ44|              9|   Crediteur|Travail Independa...|         21402|
|CJHP88|             37|   Crediteur|Location Immobili...|         46840|
|MFVC48|             33|   Crediteur|Salaire Net (1007...|         78981|
|FRQG19|             29|   Crediteur|Salaire Net (1520...|          5620|
|AFSY16|             27|   Crediteur|Placements Financ...|         94054|
|OOJJ49|             31|    Debiteur|Salaire Net (1522...|         65277|
|GUTI55|              8|   Crediteur|Salaire Net (2069...|         34914|
|YEBV67|             39|   Crediteur| Salaire Net (22364)|          7647|
|HFRK17|             42|   Crediteur|           Agricoles|         26259|
|DPNR37|             24|    Debiteur|Travail Independa...|         90618|
|QLYU27|             11|    Debiteur|Placements Financ...|         80003|
|HHRX13|             30|    Debiteur|Location Immobiliere|         83187|
|VQVX26|             40|    Debiteur|Salaire Net (4109...|         85992|
|ZWDD81|             22|    Debiteur|Dividendes- Pensi...|         36347|
|FZGH80|             20|   Crediteur|Investissements i...|         91563|
|IGAI28|             17|    Debiteur|Location Immobili...|         94794|
|OBEY66|             25|   Crediteur|Placements Financ...|         39481|
|MGGK58|             27|   Crediteur|Investissements i...|         85471|
|HKES60|             43|    Debiteur|           Agricoles|          2844|
+------+---------------+------------+--------------------+--------------+
only showing top 20 rows

In [8]:
# Filtrer les lignes où TauxEndettement > 60
n = filtered_df.filter(col("TauxEndettement") > 50)

# Compter le nombre de lignes filtrées
count = n.count()

print(f"Nombre de personnes dont le TauxEndettement est supérieur à 60: {count}")

Nombre de personnes dont le TauxEndettement est supérieur à 60: 0

#### Arrondir le montant de revenu

In [9]:
# Round the Montant_revenu column to the nearest multiple of 1000
filtered_df = filtered_df.withColumn("Montant_revenu", round(col("Montant_revenu") / 1000) * 1000)

# Format the Montant_revenu column to string with trailing zeros
filtered_df = filtered_df.withColumn("Montant_revenu", format_string("%.0f", col("Montant_revenu")))

# Show the results
filtered_df.show(truncate=False)

+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|Revenu                                                                             |Montant_revenu|
+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
|PDBO18|30             |Crediteur   |Investissements immobiliers- Agricoles                                             |31000         |
|URKQ44|9              |Crediteur   |Travail Independant ou Freelance                                                   |21000         |
|CJHP88|37             |Crediteur   |Location Immobiliere- Pension                                                      |47000         |
|MFVC48|33             |Crediteur   |Salaire Net (10071)- Location de biens Personnels                                  |79000         |
|FRQG19|29             |Crediteur   |Salaire Net (15206)- Dividendes                                                    |6000          |
|AFSY16|27             |Crediteur   |Placements Financiers                                                              |94000         |
|OOJJ49|31             |Debiteur    |Salaire Net (15229)- Location de biens Personnels- Travail Independant ou Freelance|65000         |
|GUTI55|8              |Crediteur   |Salaire Net (20695)- Placements Financiers                                         |35000         |
|YEBV67|39             |Crediteur   |Salaire Net (22364)                                                                |8000          |
|HFRK17|42             |Crediteur   |Agricoles                                                                          |26000         |
|DPNR37|24             |Debiteur    |Travail Independant ou Freelance- Placements Financiers- Pension                   |91000         |
|QLYU27|11             |Debiteur    |Placements Financiers                                                              |80000         |
|HHRX13|30             |Debiteur    |Location Immobiliere                                                               |83000         |
|VQVX26|40             |Debiteur    |Salaire Net (4109)- Placements Financiers                                          |86000         |
|ZWDD81|22             |Debiteur    |Dividendes- Pension- Travail Independant ou Freelance                              |36000         |
|FZGH80|20             |Crediteur   |Investissements immobiliers- Location de biens Personnels- Dividendes              |92000         |
|IGAI28|17             |Debiteur    |Location Immobiliere- Placements Financiers                                        |95000         |
|OBEY66|25             |Crediteur   |Placements Financiers- Agricoles                                                   |39000         |
|MGGK58|27             |Crediteur   |Investissements immobiliers- Agricoles- Travail Independant ou Freelance           |85000         |
|HKES60|43             |Debiteur    |Agricoles                                                                          |3000          |
+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
only showing top 20 rows

#### Supprimer tous les clients qui ont à la fois un Salaire et une Pension dans leurs revenus

In [10]:
# Filtrer les lignes où la colonne 'Revenu' contient à la fois "Salaire" et "Pension"
filtre = filtered_df.filter((col("Revenu").contains("Salaire")) & (col("Revenu").contains("Pension")))

# Afficher le nombre d'éléments du DataFrame filtré
count = filtre.count()

print(f"Nombre d'éléments avec Salaire et Pension : {count}")

Nombre d'éléments avec Salaire et Pension : 37083

In [11]:
# Supprimer ces lignes du DataFrame d'origine
filtered_df = filtered_df.filter(~((col("Revenu").contains("Salaire")) & (col("Revenu").contains("Pension"))))

# Afficher le DataFrame après suppression des lignes
filtered_df.show(truncate=False)

+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|Revenu                                                                             |Montant_revenu|
+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
|PDBO18|30             |Crediteur   |Investissements immobiliers- Agricoles                                             |31000         |
|URKQ44|9              |Crediteur   |Travail Independant ou Freelance                                                   |21000         |
|CJHP88|37             |Crediteur   |Location Immobiliere- Pension                                                      |47000         |
|MFVC48|33             |Crediteur   |Salaire Net (10071)- Location de biens Personnels                                  |79000         |
|FRQG19|29             |Crediteur   |Salaire Net (15206)- Dividendes                                                    |6000          |
|AFSY16|27             |Crediteur   |Placements Financiers                                                              |94000         |
|OOJJ49|31             |Debiteur    |Salaire Net (15229)- Location de biens Personnels- Travail Independant ou Freelance|65000         |
|GUTI55|8              |Crediteur   |Salaire Net (20695)- Placements Financiers                                         |35000         |
|YEBV67|39             |Crediteur   |Salaire Net (22364)                                                                |8000          |
|HFRK17|42             |Crediteur   |Agricoles                                                                          |26000         |
|DPNR37|24             |Debiteur    |Travail Independant ou Freelance- Placements Financiers- Pension                   |91000         |
|QLYU27|11             |Debiteur    |Placements Financiers                                                              |80000         |
|HHRX13|30             |Debiteur    |Location Immobiliere                                                               |83000         |
|VQVX26|40             |Debiteur    |Salaire Net (4109)- Placements Financiers                                          |86000         |
|ZWDD81|22             |Debiteur    |Dividendes- Pension- Travail Independant ou Freelance                              |36000         |
|FZGH80|20             |Crediteur   |Investissements immobiliers- Location de biens Personnels- Dividendes              |92000         |
|IGAI28|17             |Debiteur    |Location Immobiliere- Placements Financiers                                        |95000         |
|OBEY66|25             |Crediteur   |Placements Financiers- Agricoles                                                   |39000         |
|MGGK58|27             |Crediteur   |Investissements immobiliers- Agricoles- Travail Independant ou Freelance           |85000         |
|HKES60|43             |Debiteur    |Agricoles                                                                          |3000          |
+------+---------------+------------+-----------------------------------------------------------------------------------+--------------+
only showing top 20 rows

In [12]:
# Filtrer les lignes où la colonne 'Revenu' contient à la fois "Salaire" et "Pension"
filtre = filtered_df.filter((col("Revenu").contains("Salaire")) & (col("Revenu").contains("Pension")))

# Afficher le nombre d'éléments du DataFrame filtré
count = filtre.count()

print(f"Nombre d'éléments avec Salaire et Pension : {count}")

Nombre d'éléments avec Salaire et Pension : 0

In [13]:
# Nombre d'élément dans la dataset
print(filtered_df.count())

962917

## Nettoyage des données personnelles des clients

In [14]:
info_perso = spark.read.option("header", "true").option("encoding", "UTF-8").csv("/Omnidata_PFE_dataset/Informations_Personnelle.csv")
info_perso.show()

+------+----------+--------+--------------------+-----------+---+-----------+--------+--------------------+
|Emp_ID|       Nom|  Prénom|    Adresse_actuelle|      Ville|Age| État_civil|    Sexe|          Profession|
+------+----------+--------+--------------------+-----------+---+-----------+--------+--------------------+
|PDBO18|   Mcclure|   Nancy|2711 Lisa Crossro...|Beni Mellal| 84|    Divorcé| Féminin|Travailleur Intér...|
|URKQ44|  Galloway|  Briana|USNV Bautista FPO...|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|
|CJHP88|    Sutton|   Jason|393 Reyes Mall Mi...|     Meknès| 79|Célibataire| Féminin|                 RME|
|MFVC48|  Ferguson|   Jason|19887 Mary Rapids...|    Kénitra| 69|Célibataire|Masculin|Travailleur Indép...|
|FRQG19|     Cross|  Robert|0485 Rivera Squar...|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|
|AFSY16|     Allen|    Mary|6637 Bradley Fore...| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|
|OOJJ49| Rodriguez|   Laura|344 Julia Mews Ap...|     Meknès| 60|      Veuve| Féminin| Profession libérale|
|GUTI55|  Chambers|  Brenda|003 Knight Inlet ...|    Tétouan| 27|    Divorcé|Masculin|             Salarié|
|YEBV67|      Case|   Brian|12764 Webster Hil...|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|
|HFRK17|    Pruitt|Jennifer|6186 Mata Forks S...| Casablanca| 68|Célibataire| Féminin|       Fonctionnaire|
|DPNR37|      Cobb|  Daniel|27462 Huerta Rout...|  Marrakech| 66|Célibataire| Féminin|                 RME|
|QLYU27|Harrington| Matthew|0589 Brandon Turn...| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|
|HHRX13|  Mcdonald|   Steve|930 Marc Fields D...|     Agadir| 25|      Veuve| Féminin|                 RME|
|VQVX26|     Short|   Jerry|7398 Michael Cour...|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|
|ZWDD81|    Torres|    Sean|35367 Robinson Es...| Mohammedia| 82|      Veuve| Féminin|                 RME|
|FZGH80|     Terry| Kenneth|Unit 0037 Box 578...|    Tétouan| 63|      Marié|Masculin|Employé du secteu...|
|IGAI28|    Murphy| Vanessa|30315 John Bypass...|  Marrakech| 22|      Veuve| Féminin| Profession libérale|
|OBEY66|  Cantrell| Matthew|55136 Mcdonald By...|      Rabat| 28|      Marié| Féminin|                 RME|
|MGGK58|     Moore|   Shawn|Unit 8645 Box 460...|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|
|HKES60|      Cook|   Wendy|8178 Owens Mounta...|    Kénitra| 92|      Veuve|Masculin|Travailleur Intér...|
+------+----------+--------+--------------------+-----------+---+-----------+--------+--------------------+
only showing top 20 rows

#### Supprimer l'adresse des clients car elles sont fictives

In [15]:
# Supprimer la colonne 'Adresse'
info_perso = info_perso.drop("Adresse_actuelle")

# Afficher les résultats
info_perso.show()

+------+----------+--------+-----------+---+-----------+--------+--------------------+
|Emp_ID|       Nom|  Prénom|      Ville|Age| État_civil|    Sexe|          Profession|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
|PDBO18|   Mcclure|   Nancy|Beni Mellal| 84|    Divorcé| Féminin|Travailleur Intér...|
|URKQ44|  Galloway|  Briana|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|
|CJHP88|    Sutton|   Jason|     Meknès| 79|Célibataire| Féminin|                 RME|
|MFVC48|  Ferguson|   Jason|    Kénitra| 69|Célibataire|Masculin|Travailleur Indép...|
|FRQG19|     Cross|  Robert|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|
|AFSY16|     Allen|    Mary| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|
|OOJJ49| Rodriguez|   Laura|     Meknès| 60|      Veuve| Féminin| Profession libérale|
|GUTI55|  Chambers|  Brenda|    Tétouan| 27|    Divorcé|Masculin|             Salarié|
|YEBV67|      Case|   Brian|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|
|HFRK17|    Pruitt|Jennifer| Casablanca| 68|Célibataire| Féminin|       Fonctionnaire|
|DPNR37|      Cobb|  Daniel|  Marrakech| 66|Célibataire| Féminin|                 RME|
|QLYU27|Harrington| Matthew| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|
|HHRX13|  Mcdonald|   Steve|     Agadir| 25|      Veuve| Féminin|                 RME|
|VQVX26|     Short|   Jerry|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|
|ZWDD81|    Torres|    Sean| Mohammedia| 82|      Veuve| Féminin|                 RME|
|FZGH80|     Terry| Kenneth|    Tétouan| 63|      Marié|Masculin|Employé du secteu...|
|IGAI28|    Murphy| Vanessa|  Marrakech| 22|      Veuve| Féminin| Profession libérale|
|OBEY66|  Cantrell| Matthew|      Rabat| 28|      Marié| Féminin|                 RME|
|MGGK58|     Moore|   Shawn|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|
|HKES60|      Cook|   Wendy|    Kénitra| 92|      Veuve|Masculin|Travailleur Intér...|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
only showing top 20 rows

#### Transformer l'âge pour qu'il se situe dans l'intervalle [18,80]

In [16]:
# Filtrer les personnes ayant 65 ans ou plus
age_65_plus_df = info_perso.filter(col("Age") > 65)

# Compter le nombre de personnes de 65 ans ou plus
count_age_65_plus = age_65_plus_df.count()

# Afficher le résultat
print(f"Nombre de personnes ayant 65 ans ou plus : {count_age_65_plus}")

Nombre de personnes ayant 65 ans ou plus : 421216

In [17]:
# Filtrer les personnes ayant 80 ans ou plus
age_80_plus_df = info_perso.filter(col("Age") > 80)

# Compter le nombre de personnes de 80 ans ou plus
count_age_80_plus = age_80_plus_df.count()

# Afficher le résultat
print(f"Nombre de personnes ayant 80 ans ou plus : {count_age_80_plus}")

Nombre de personnes ayant 80 ans ou plus : 240555

In [18]:
# Modifier l'Age pour les personnes dont l'Âge > 65
info_perso = info_perso.withColumn(
    "Age",
    when(col("Age") > 80, ((col("Age") - 65) * (65-18) / (100 - 65)) + 18).otherwise(col("Age")).cast("int")
)

# Afficher le schéma pour vérifier les types de données
info_perso.printSchema()

# Afficher quelques lignes pour vérifier les modifications
info_perso.show()

root
 |-- Emp_ID: string (nullable = true)
 |-- Nom: string (nullable = true)
 |-- Prénom: string (nullable = true)
 |-- Ville: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- État_civil: string (nullable = true)
 |-- Sexe: string (nullable = true)
 |-- Profession: string (nullable = true)

+------+----------+--------+-----------+---+-----------+--------+--------------------+
|Emp_ID|       Nom|  Prénom|      Ville|Age| État_civil|    Sexe|          Profession|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
|PDBO18|   Mcclure|   Nancy|Beni Mellal| 43|    Divorcé| Féminin|Travailleur Intér...|
|URKQ44|  Galloway|  Briana|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|
|CJHP88|    Sutton|   Jason|     Meknès| 79|Célibataire| Féminin|                 RME|
|MFVC48|  Ferguson|   Jason|    Kénitra| 69|Célibataire|Masculin|Travailleur Indép...|
|FRQG19|     Cross|  Robert|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|
|AFSY16|     Allen|    Mary| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|
|OOJJ49| Rodriguez|   Laura|     Meknès| 60|      Veuve| Féminin| Profession libérale|
|GUTI55|  Chambers|  Brenda|    Tétouan| 27|    Divorcé|Masculin|             Salarié|
|YEBV67|      Case|   Brian|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|
|HFRK17|    Pruitt|Jennifer| Casablanca| 68|Célibataire| Féminin|       Fonctionnaire|
|DPNR37|      Cobb|  Daniel|  Marrakech| 66|Célibataire| Féminin|                 RME|
|QLYU27|Harrington| Matthew| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|
|HHRX13|  Mcdonald|   Steve|     Agadir| 25|      Veuve| Féminin|                 RME|
|VQVX26|     Short|   Jerry|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|
|ZWDD81|    Torres|    Sean| Mohammedia| 40|      Veuve| Féminin|                 RME|
|FZGH80|     Terry| Kenneth|    Tétouan| 63|      Marié|Masculin|Employé du secteu...|
|IGAI28|    Murphy| Vanessa|  Marrakech| 22|      Veuve| Féminin| Profession libérale|
|OBEY66|  Cantrell| Matthew|      Rabat| 28|      Marié| Féminin|                 RME|
|MGGK58|     Moore|   Shawn|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|
|HKES60|      Cook|   Wendy|    Kénitra| 54|      Veuve|Masculin|Travailleur Intér...|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
only showing top 20 rows

#### Réduire le nombre de clients âgés de 66 à 80 ans en rajeunissant leur âge

In [19]:
# Filtrer les personnes ayant 60 ans ou plus
age_65_plus_df = info_perso.filter(col("Age") > 65)

# Compter le nombre de personnes de 60 ans ou plus
count_age_65_plus = age_65_plus_df.count()

# Afficher le résultat
print(f"Nombre de personnes ayant 65 ans ou plus : {count_age_65_plus}")

Nombre de personnes ayant 65 ans ou plus : 180661

In [20]:
from pyspark.sql import functions as F

# Modifier l'Age pour les personnes dont l'Âge > 65
info_perso = info_perso.withColumn(
    "Age",
    when(col("Age") > 65, 
         when(F.rand() <= 0.6, ((col("Age") - 65) * (65 - 18) / (100 - 65)) + 18)
         .otherwise(col("Age"))
    ).otherwise(col("Age")).cast("int")
)

# Afficher le schéma pour vérifier les types de données
info_perso.printSchema()

# Afficher quelques lignes pour vérifier les modifications
info_perso.show(truncate=False)

root
 |-- Emp_ID: string (nullable = true)
 |-- Nom: string (nullable = true)
 |-- Prénom: string (nullable = true)
 |-- Ville: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- État_civil: string (nullable = true)
 |-- Sexe: string (nullable = true)
 |-- Profession: string (nullable = true)

+------+----------+--------+-----------+---+-----------+--------+---------------------------------------+
|Emp_ID|Nom       |Prénom  |Ville      |Age|État_civil |Sexe    |Profession                             |
+------+----------+--------+-----------+---+-----------+--------+---------------------------------------+
|PDBO18|Mcclure   |Nancy   |Beni Mellal|43 |Divorcé    |Féminin |Travailleur Intérimaire ou Contractuel |
|URKQ44|Galloway  |Briana  |Kénitra    |42 |Veuve      |Masculin|Travailleur saisonnier ou intermittent |
|CJHP88|Sutton    |Jason   |Meknès     |36 |Célibataire|Féminin |RME                                    |
|MFVC48|Ferguson  |Jason   |Kénitra    |23 |Célibataire|Masculin|Travailleur Indépendant ou Entrepreneur|
|FRQG19|Cross     |Robert  |Agadir     |30 |Célibataire|Féminin |Fonctionnaire                          |
|AFSY16|Allen     |Mary    |Mohammedia |55 |Célibataire|Masculin|Travailleur Indépendant ou Entrepreneur|
|OOJJ49|Rodriguez |Laura   |Meknès     |60 |Veuve      |Féminin |Profession libérale                    |
|GUTI55|Chambers  |Brenda  |Tétouan    |27 |Divorcé    |Masculin|Salarié                                |
|YEBV67|Case      |Brian   |Agadir     |43 |Veuve      |Masculin|Fonctionnaire                          |
|HFRK17|Pruitt    |Jennifer|Casablanca |68 |Célibataire|Féminin |Fonctionnaire                          |
|DPNR37|Cobb      |Daniel  |Marrakech  |66 |Célibataire|Féminin |RME                                    |
|QLYU27|Harrington|Matthew |Mohammedia |47 |Marié      |Masculin|Travailleur Indépendant ou Entrepreneur|
|HHRX13|Mcdonald  |Steve   |Agadir     |25 |Veuve      |Féminin |RME                                    |
|VQVX26|Short     |Jerry   |Safi       |34 |Veuve      |Féminin |Fonctionnaire                          |
|ZWDD81|Torres    |Sean    |Mohammedia |40 |Veuve      |Féminin |RME                                    |
|FZGH80|Terry     |Kenneth |Tétouan    |63 |Marié      |Masculin|Employé du secteur Public              |
|IGAI28|Murphy    |Vanessa |Marrakech  |22 |Veuve      |Féminin |Profession libérale                    |
|OBEY66|Cantrell  |Matthew |Rabat      |28 |Marié      |Féminin |RME                                    |
|MGGK58|Moore     |Shawn   |Oujda      |60 |Célibataire|Féminin |Travailleur Indépendant ou Entrepreneur|
|HKES60|Cook      |Wendy   |Kénitra    |54 |Veuve      |Masculin|Travailleur Intérimaire ou Contractuel |
+------+----------+--------+-----------+---+-----------+--------+---------------------------------------+
only showing top 20 rows

In [21]:
# Filtrer les personnes ayant 60 ans ou plus
age_65_plus_df = info_perso.filter(col("Age") > 65)

# Compter le nombre de personnes de 60 ans ou plus
count_age_65_plus = age_65_plus_df.count()

# Afficher le résultat
print(f"Nombre de personnes ayant 65 ans ou plus : {count_age_65_plus}")

Nombre de personnes ayant 65 ans ou plus : 72505

In [22]:
# Filtrer les lignes où l'âge est strictement supérieur à 63
filtered_age_df = info_perso.filter(col("Age") > 63)

# Afficher le schéma pour vérifier les types de données
filtered_age_df.printSchema()

# Afficher quelques lignes pour vérifier les modifications
filtered_age_df.show(truncate=False)

root
 |-- Emp_ID: string (nullable = true)
 |-- Nom: string (nullable = true)
 |-- Prénom: string (nullable = true)
 |-- Ville: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- État_civil: string (nullable = true)
 |-- Sexe: string (nullable = true)
 |-- Profession: string (nullable = true)

+------+--------+---------+----------+---+-----------+--------+--------------------------------------+
|Emp_ID|Nom     |Prénom   |Ville     |Age|État_civil |Sexe    |Profession                            |
+------+--------+---------+----------+---+-----------+--------+--------------------------------------+
|HFRK17|Pruitt  |Jennifer |Casablanca|68 |Célibataire|Féminin |Fonctionnaire                         |
|DPNR37|Cobb    |Daniel   |Marrakech |66 |Célibataire|Féminin |RME                                   |
|MZIY07|Walker  |Victoria |Mohammedia|76 |Célibataire|Féminin |Salarié                               |
|OINI05|Howell  |Sherri   |Fès       |74 |Marié      |Féminin |Travailleur Intérimaire ou Contractuel|
|QJQL16|Jackson |Nicholas |Marrakech |80 |Veuve      |Féminin |Travailleur Intérimaire ou Contractuel|
|TZRE36|Doyle   |Amy      |Tanger    |73 |Célibataire|Masculin|Employé du secteur Public             |
|ATZS72|Roberts |Cynthia  |Tanger    |64 |Célibataire|Féminin |Travailleur Intérimaire ou Contractuel|
|AVMJ99|Ballard |John     |Casablanca|75 |Célibataire|Féminin |Travailleur Intérimaire ou Contractuel|
|MKXB97|Harper  |Robert   |Kénitra   |69 |Marié      |Féminin |Employé du secteur Semi-Public        |
|BDRL32|Lewis   |Wendy    |Tanger    |74 |Divorcé    |Masculin|Employé du secteur Public             |
|IBTP85|Church  |Sabrina  |Casablanca|75 |Célibataire|Féminin |RME                                   |
|TLMC64|Porter  |Andrea   |El Jadida |76 |Divorcé    |Masculin|Retraité                              |
|WUEE79|West    |Nancy    |Safi      |80 |Divorcé    |Masculin|Profession libérale                   |
|TVLD76|Walker  |Luis     |Kénitra   |65 |Veuve      |Féminin |Fonctionnaire                         |
|VBHD74|Reyes   |Nicole   |Oujda     |71 |Veuve      |Masculin|Employé du secteur Public             |
|ZOLV66|Garcia  |Elizabeth|Safi      |64 |Veuve      |Féminin |Travailleur Intérimaire ou Contractuel|
|PUIS90|Santiago|Amanda   |Kénitra   |78 |Marié      |Féminin |Retraité                              |
|BTWX18|Coleman |Candice  |Kénitra   |79 |Divorcé    |Féminin |RME                                   |
|ESQT16|Small   |Linda    |El Jadida |74 |Marié      |Masculin|Travailleur saisonnier ou intermittent|
|GOMT25|Brennan |Raymond  |Fès       |64 |Veuve      |Masculin|Travailleur Intérimaire ou Contractuel|
+------+--------+---------+----------+---+-----------+--------+--------------------------------------+
only showing top 20 rows

#### Remplacer la profession de toutes les personnes âgées de 62 ans ou plus par "Retraité"

In [23]:
# Remplacer la profession par "Retraité" pour les personnes ayant un âge >= 62
info_perso = info_perso.withColumn(
    "Profession",
    when(col("Age") >= 62, "Retraité").otherwise(col("Profession"))
)

# Afficher le schéma pour vérifier les types de données
info_perso.printSchema()

# Afficher quelques lignes pour vérifier les modifications
info_perso.show()

root
 |-- Emp_ID: string (nullable = true)
 |-- Nom: string (nullable = true)
 |-- Prénom: string (nullable = true)
 |-- Ville: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- État_civil: string (nullable = true)
 |-- Sexe: string (nullable = true)
 |-- Profession: string (nullable = true)

+------+----------+--------+-----------+---+-----------+--------+--------------------+
|Emp_ID|       Nom|  Prénom|      Ville|Age| État_civil|    Sexe|          Profession|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
|PDBO18|   Mcclure|   Nancy|Beni Mellal| 43|    Divorcé| Féminin|Travailleur Intér...|
|URKQ44|  Galloway|  Briana|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|
|CJHP88|    Sutton|   Jason|     Meknès| 36|Célibataire| Féminin|                 RME|
|MFVC48|  Ferguson|   Jason|    Kénitra| 23|Célibataire|Masculin|Travailleur Indép...|
|FRQG19|     Cross|  Robert|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|
|AFSY16|     Allen|    Mary| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|
|OOJJ49| Rodriguez|   Laura|     Meknès| 60|      Veuve| Féminin| Profession libérale|
|GUTI55|  Chambers|  Brenda|    Tétouan| 27|    Divorcé|Masculin|             Salarié|
|YEBV67|      Case|   Brian|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|
|HFRK17|    Pruitt|Jennifer| Casablanca| 68|Célibataire| Féminin|            Retraité|
|DPNR37|      Cobb|  Daniel|  Marrakech| 66|Célibataire| Féminin|            Retraité|
|QLYU27|Harrington| Matthew| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|
|HHRX13|  Mcdonald|   Steve|     Agadir| 25|      Veuve| Féminin|                 RME|
|VQVX26|     Short|   Jerry|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|
|ZWDD81|    Torres|    Sean| Mohammedia| 40|      Veuve| Féminin|                 RME|
|FZGH80|     Terry| Kenneth|    Tétouan| 63|      Marié|Masculin|            Retraité|
|IGAI28|    Murphy| Vanessa|  Marrakech| 22|      Veuve| Féminin| Profession libérale|
|OBEY66|  Cantrell| Matthew|      Rabat| 28|      Marié| Féminin|                 RME|
|MGGK58|     Moore|   Shawn|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|
|HKES60|      Cook|   Wendy|    Kénitra| 54|      Veuve|Masculin|Travailleur Intér...|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
only showing top 20 rows

#### Associer le revenu "Pension" à chaque retraité dans leurs revenus

In [24]:
# Filtrer les retraités qui n'ont pas déjà "Pension" dans leurs revenus
retraites_a_mettre_a_jour = filtered_df.join(info_perso, "Emp_ID") \
    .filter((col("Profession") == "Retraité") & (~col("Revenu").contains("Pension")))

# Mettre à jour la colonne `Revenu` pour les retraités filtrés
retraites_a_mettre_a_jour = retraites_a_mettre_a_jour.withColumn(
    "Revenu",
    concat(col("Revenu"), lit("-Pension"))
).select("Emp_ID", "Revenu")

# Mettre à jour les DataFrames originaux
filtered_df = filtered_df.join(retraites_a_mettre_a_jour, "Emp_ID", "left").select(
    filtered_df["Emp_ID"],
    filtered_df["TauxEndettement"],
    filtered_df["Depense_Gain"],
    when(retraites_a_mettre_a_jour["Revenu"].isNull(), filtered_df["Revenu"]).otherwise(retraites_a_mettre_a_jour["Revenu"]).alias("Revenu"),
    filtered_df["Montant_revenu"]
)

# Afficher les résultats pour vérifier
filtered_df.show()

+------+---------------+------------+--------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|              Revenu|Montant_revenu|
+------+---------------+------------+--------------------+--------------+
|AFSY16|             27|   Crediteur|Placements Financ...|         94000|
|BQCN65|             11|    Debiteur|          Dividendes|         44000|
|CJHP88|             37|   Crediteur|Location Immobili...|         47000|
|DPNR37|             24|    Debiteur|Travail Independa...|         91000|
|DWQS91|             26|   Crediteur|Placements Financ...|         26000|
|FKWM95|             37|    Debiteur|Investissements i...|         56000|
|FRQG19|             29|   Crediteur|Salaire Net (1520...|          6000|
|GRXK41|             11|    Debiteur|          Dividendes|         17000|
|HFRK17|             42|   Crediteur|   Agricoles-Pension|         26000|
|HIDQ28|             46|   Crediteur|Location Immobili...|          5000|
|HPQQ76|             12|   Crediteur|Agricoles- Invest...|         64000|
|KINY52|             24|    Debiteur|             Pension|             0|
|MFVC48|             33|   Crediteur|Salaire Net (1007...|         79000|
|MGGK58|             27|   Crediteur|Investissements i...|         85000|
|NROT16|             32|   Crediteur|Dividendes- Trava...|         74000|
|OBEY66|             25|   Crediteur|Placements Financ...|         39000|
|OGUX61|              4|   Crediteur|Salaire Net (2531...|         83000|
|OOJJ49|             31|    Debiteur|Salaire Net (1522...|         65000|
|QLYU27|             11|    Debiteur|Placements Financ...|         80000|
|RHSN94|             38|    Debiteur|Investissements i...|         83000|
+------+---------------+------------+--------------------+--------------+
only showing top 20 rows

In [25]:
# Filtrer les retraités dans info_perso
retraites_info_perso = info_perso.filter(col("Profession") == "Retraité")

# Joindre les retraités avec leurs revenus dans filtered_df
retraites_revenus = retraites_info_perso.join(filtered_df, "Emp_ID")

# Afficher les résultats
retraites_revenus.show(truncate=False)

+------+--------+--------+-----------+---+-----------+--------+----------+---------------+------------+------------------------------------------------------------------------+--------------+
|Emp_ID|Nom     |Prénom  |Ville      |Age|État_civil |Sexe    |Profession|TauxEndettement|Depense_Gain|Revenu                                                                  |Montant_revenu|
+------+--------+--------+-----------+---+-----------+--------+----------+---------------+------------+------------------------------------------------------------------------+--------------+
|AAAA89|Chan    |Alicia  |Tétouan    |49 |Divorcé    |Féminin |Retraité  |0              |Debiteur    |Placements Financiers-Pension                                           |81000         |
|AAAD43|Lee     |Dylan   |Rabat      |54 |Célibataire|Féminin |Retraité  |16             |Debiteur    |Pension- Agricoles                                                      |34000         |
|AAAD43|Lee     |Dylan   |Rabat      |54 |Célibataire|Féminin |Retraité  |18             |Crediteur   |Pension- Investissements immobiliers- Agricoles                         |21000         |
|AAAU55|Ramirez |Carla   |Fès        |64 |Marié      |Féminin |Retraité  |49             |Debiteur    |Location Immobiliere-Pension                                            |5000          |
|AABA83|Wagner  |Kevin   |Nador      |30 |Marié      |Masculin|Retraité  |2              |Debiteur    |Location Immobiliere- Agricoles- Pension                                |69000         |
|AABC34|Gray    |Donald  |Meknès     |62 |Célibataire|Féminin |Retraité  |23             |Debiteur    |Pension                                                                 |36000         |
|AABX17|Welch   |Anne    |Marrakech  |66 |Marié      |Masculin|Retraité  |40             |Debiteur    |Travail Independant ou Freelance- Dividendes- Salaire Net (3853)-Pension|78000         |
|AACA01|Gentry  |Austin  |Rabat      |65 |Veuve      |Féminin |Retraité  |29             |Debiteur    |Pension                                                                 |14000         |
|AACD08|Hoover  |Patricia|Safi       |34 |Veuve      |Féminin |Retraité  |26             |Crediteur   |Pension- Investissements immobiliers                                    |37000         |
|AACF54|Taylor  |Justin  |Beni Mellal|65 |Célibataire|Masculin|Retraité  |27             |Crediteur   |Agricoles- Pension                                                      |90000         |
|AACF61|Hamilton|Daisy   |Fès        |63 |Célibataire|Féminin |Retraité  |46             |Crediteur   |Agricoles-Pension                                                       |80000         |
|AACM85|Monroe  |Kristin |Nador      |65 |Divorcé    |Féminin |Retraité  |18             |Debiteur    |Salaire Net (19702)- Placements Financiers- Agricoles-Pension           |30000         |
|AACP07|Garcia  |Kimberly|Nador      |53 |Marié      |Féminin |Retraité  |25             |Debiteur    |Agricoles-Pension                                                       |94000         |
|AACQ02|Miranda |Shaun   |El Jadida  |26 |Divorcé    |Masculin|Retraité  |9              |Crediteur   |Agricoles- Pension                                                      |67000         |
|AACT93|Flynn   |Dylan   |Rabat      |32 |Marié      |Féminin |Retraité  |5              |Debiteur    |Pension                                                                 |24000         |
|AACV12|Lopez   |Kristen |Kénitra    |78 |Veuve      |Féminin |Retraité  |35             |Debiteur    |Location Immobiliere-Pension                                            |13000         |
|AADH29|Brooks  |Amanda  |Safi       |75 |Marié      |Féminin |Retraité  |42             |Crediteur   |Travail Independant ou Freelance-Pension                                |17000         |
|AADL84|Williams|Courtney|Rabat      |35 |Marié      |Féminin |Retraité  |19             |Debiteur    |Location Immobiliere- Salaire Net (3962)-Pension                        |81000         |
|AADM92|Fleming |Micheal |Agadir     |26 |Célibataire|Féminin |Retraité  |23             |Debiteur    |Agricoles- Location Immobiliere- Investissements immobiliers-Pension    |66000         |
|AADN06|Reyes   |Jonathan|Fès        |63 |Divorcé    |Féminin |Retraité  |14             |Debiteur    |Location Immobiliere- Agricoles-Pension                                 |79000         |
+------+--------+--------+-----------+---+-----------+--------+----------+---------------+------------+------------------------------------------------------------------------+--------------+
only showing top 20 rows

#### Supprimer toutes les personnes considérées comme retraitées et âgées de 18 à 54 ans

In [26]:
# Compter les personnes dont l'âge est compris entre 18 et 54 inclus et la profession est "Retraité"
retirees_age_18_to_54_count = info_perso.filter(
    (col("Age").between(18, 54)) & (col("Profession") == "Retraité")
).count()

print(f"Nombre de retraités âgés de 18 à 54 ans avant suppression : {retirees_age_18_to_54_count}")

Nombre de retraités âgés de 18 à 54 ans avant suppression : 69622

In [27]:
# Remplacer la profession "Retraité" par "Salarié" pour les personnes dont l'âge est compris entre 18 et 54 inclus
info_perso = info_perso.withColumn(
    "Profession",
    when((col("Age").between(18, 54)) & (col("Profession") == "Retraité"), "Salarié").otherwise(col("Profession"))
)

# Afficher les résultats pour vérifier
info_perso.show()

+------+----------+--------+-----------+---+-----------+--------+--------------------+
|Emp_ID|       Nom|  Prénom|      Ville|Age| État_civil|    Sexe|          Profession|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
|PDBO18|   Mcclure|   Nancy|Beni Mellal| 43|    Divorcé| Féminin|Travailleur Intér...|
|URKQ44|  Galloway|  Briana|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|
|CJHP88|    Sutton|   Jason|     Meknès| 36|Célibataire| Féminin|                 RME|
|MFVC48|  Ferguson|   Jason|    Kénitra| 23|Célibataire|Masculin|Travailleur Indép...|
|FRQG19|     Cross|  Robert|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|
|AFSY16|     Allen|    Mary| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|
|OOJJ49| Rodriguez|   Laura|     Meknès| 60|      Veuve| Féminin| Profession libérale|
|GUTI55|  Chambers|  Brenda|    Tétouan| 27|    Divorcé|Masculin|             Salarié|
|YEBV67|      Case|   Brian|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|
|HFRK17|    Pruitt|Jennifer| Casablanca| 68|Célibataire| Féminin|            Retraité|
|DPNR37|      Cobb|  Daniel|  Marrakech| 66|Célibataire| Féminin|            Retraité|
|QLYU27|Harrington| Matthew| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|
|HHRX13|  Mcdonald|   Steve|     Agadir| 25|      Veuve| Féminin|                 RME|
|VQVX26|     Short|   Jerry|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|
|ZWDD81|    Torres|    Sean| Mohammedia| 40|      Veuve| Féminin|                 RME|
|FZGH80|     Terry| Kenneth|    Tétouan| 63|      Marié|Masculin|            Retraité|
|IGAI28|    Murphy| Vanessa|  Marrakech| 22|      Veuve| Féminin| Profession libérale|
|OBEY66|  Cantrell| Matthew|      Rabat| 28|      Marié| Féminin|                 RME|
|MGGK58|     Moore|   Shawn|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|
|HKES60|      Cook|   Wendy|    Kénitra| 54|      Veuve|Masculin|Travailleur Intér...|
+------+----------+--------+-----------+---+-----------+--------+--------------------+
only showing top 20 rows

In [28]:
# Compter les personnes dont l'âge est compris entre 18 et 54 inclus et la profession est "Retraité"
retirees_age_18_to_54_count = info_perso.filter(
    (col("Age").between(18, 54)) & (col("Profession") == "Retraité")
).count()

print(f"Nombre de retraités âgés de 18 à 54 ans avant suppression : {retirees_age_18_to_54_count}")

Nombre de retraités âgés de 18 à 54 ans avant suppression : 0

#### Transformer tous les hommes considérés comme "Veuve" en "Célibataire"

In [29]:
# Filter the DataFrame for 'Masculin' and 'Veuve' and count the rows
count_masculin_veuve = info_perso.filter((col("Sexe") == "Masculin") & (col("État_civil") == "Veuve")).count()

print(f"Number of 'Masculin' with 'Veuve' status: {count_masculin_veuve}")

Number of 'Masculin' with 'Veuve' status: 124873

In [30]:
# Update the 'Etat_civil' column
info_perso = info_perso.withColumn(
    "Etat_civil",
    when((col("Sexe") == "Masculin") & (col("État_civil") == "Veuve"), "Célibataire").otherwise(col("État_civil"))
)

# Show the updated DataFrame
info_perso.show()
filtered_df.show()

+------+----------+--------+-----------+---+-----------+--------+--------------------+-----------+
|Emp_ID|       Nom|  Prénom|      Ville|Age| État_civil|    Sexe|          Profession| Etat_civil|
+------+----------+--------+-----------+---+-----------+--------+--------------------+-----------+
|PDBO18|   Mcclure|   Nancy|Beni Mellal| 43|    Divorcé| Féminin|Travailleur Intér...|    Divorcé|
|URKQ44|  Galloway|  Briana|    Kénitra| 42|      Veuve|Masculin|Travailleur saiso...|Célibataire|
|CJHP88|    Sutton|   Jason|     Meknès| 36|Célibataire| Féminin|                 RME|Célibataire|
|MFVC48|  Ferguson|   Jason|    Kénitra| 23|Célibataire|Masculin|Travailleur Indép...|Célibataire|
|FRQG19|     Cross|  Robert|     Agadir| 30|Célibataire| Féminin|       Fonctionnaire|Célibataire|
|AFSY16|     Allen|    Mary| Mohammedia| 55|Célibataire|Masculin|Travailleur Indép...|Célibataire|
|OOJJ49| Rodriguez|   Laura|     Meknès| 60|      Veuve| Féminin| Profession libérale|      Veuve|
|GUTI55|  Chambers|  Brenda|    Tétouan| 27|    Divorcé|Masculin|             Salarié|    Divorcé|
|YEBV67|      Case|   Brian|     Agadir| 43|      Veuve|Masculin|       Fonctionnaire|Célibataire|
|HFRK17|    Pruitt|Jennifer| Casablanca| 68|Célibataire| Féminin|            Retraité|Célibataire|
|DPNR37|      Cobb|  Daniel|  Marrakech| 66|Célibataire| Féminin|            Retraité|Célibataire|
|QLYU27|Harrington| Matthew| Mohammedia| 47|      Marié|Masculin|Travailleur Indép...|      Marié|
|HHRX13|  Mcdonald|   Steve|     Agadir| 25|      Veuve| Féminin|                 RME|      Veuve|
|VQVX26|     Short|   Jerry|       Safi| 34|      Veuve| Féminin|       Fonctionnaire|      Veuve|
|ZWDD81|    Torres|    Sean| Mohammedia| 40|      Veuve| Féminin|                 RME|      Veuve|
|FZGH80|     Terry| Kenneth|    Tétouan| 63|      Marié|Masculin|            Retraité|      Marié|
|IGAI28|    Murphy| Vanessa|  Marrakech| 22|      Veuve| Féminin| Profession libérale|      Veuve|
|OBEY66|  Cantrell| Matthew|      Rabat| 28|      Marié| Féminin|                 RME|      Marié|
|MGGK58|     Moore|   Shawn|      Oujda| 60|Célibataire| Féminin|Travailleur Indép...|Célibataire|
|HKES60|      Cook|   Wendy|    Kénitra| 54|      Veuve|Masculin|Travailleur Intér...|Célibataire|
+------+----------+--------+-----------+---+-----------+--------+--------------------+-----------+
only showing top 20 rows

+------+---------------+------------+--------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|              Revenu|Montant_revenu|
+------+---------------+------------+--------------------+--------------+
|AFSY16|             27|   Crediteur|Placements Financ...|         94000|
|BQCN65|             11|    Debiteur|          Dividendes|         44000|
|CJHP88|             37|   Crediteur|Location Immobili...|         47000|
|DPNR37|             24|    Debiteur|Travail Independa...|         91000|
|DWQS91|             26|   Crediteur|Placements Financ...|         26000|
|FKWM95|             37|    Debiteur|Investissements i...|         56000|
|FRQG19|             29|   Crediteur|Salaire Net (1520...|          6000|
|GRXK41|             11|    Debiteur|          Dividendes|         17000|
|HFRK17|             42|   Crediteur|   Agricoles-Pension|         26000|
|HIDQ28|             46|   Crediteur|Location Immobili...|          5000|
|HPQQ76|             12|   Crediteur|Agricoles- Invest...|         64000|
|KINY52|             24|    Debiteur|             Pension|             0|
|MFVC48|             33|   Crediteur|Salaire Net (1007...|         79000|
|MGGK58|             27|   Crediteur|Investissements i...|         85000|
|NROT16|             32|   Crediteur|Dividendes- Trava...|         74000|
|OBEY66|             25|   Crediteur|Placements Financ...|         39000|
|OGUX61|              4|   Crediteur|Salaire Net (2531...|         83000|
|OOJJ49|             31|    Debiteur|Salaire Net (1522...|         65000|
|QLYU27|             11|    Debiteur|Placements Financ...|         80000|
|RHSN94|             38|    Debiteur|Investissements i...|         83000|
+------+---------------+------------+--------------------+--------------+
only showing top 20 rows

In [31]:
# Filter the DataFrame for 'Masculin' and 'Veuve' and count the rows
count_masculin_veuve = info_perso.filter((col("Sexe") == "Masculin") & (col("Etat_civil") == "Veuve")).count()

print(f"Number of 'Masculin' with 'Veuve' status: {count_masculin_veuve}")

Number of 'Masculin' with 'Veuve' status: 0

#### Enlever le revenu "Pension" des personnes âgées de 18 à 54 ans dans leurs revenus

In [32]:
# Filtrer les personnes dans info_perso dont l'âge est compris entre 18 et 54
age_filtered_df = info_perso.filter(col("Age").between(18, 54))

# Filtrer les personnes dans filtered_df dont le revenu contient "Pension"
pension_filtered_df = filtered_df.filter(col("Revenu").contains("Pension"))

# Compter le nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient "Pension"
count = age_filtered_df.join(pension_filtered_df, "Emp_ID", "inner").count()

print(f"Nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient 'Pension' : {count}")

Nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient 'Pension' : 199832

In [17]:
# Filtrer les personnes dans info_perso dont l'âge est compris entre 18 et 54
age_filtered_df = info_perso.filter(col("Age").between(18, 54))

# Filtrer les personnes dans filtered_df dont le revenu contient "Pension"
pension_filtered_df = filtered_df.filter(col("Revenu").contains("Pension"))

# Trouver les Emp_ID correspondant aux critères
emp_ids_to_update = age_filtered_df.join(pension_filtered_df, "Emp_ID", "inner").select("Emp_ID").distinct()

# Mettre à jour la colonne `Revenu` pour supprimer "Pension" au début ou "-Pension" au milieu/à la fin
updated_filtered_df = filtered_df.join(emp_ids_to_update, "Emp_ID", "inner").withColumn(
    "Revenu",
    regexp_replace(col("Revenu"), r"^Pension|-Pension|- Pension", "")
)

# Mettre à jour le DataFrame original
filtered_df = filtered_df.join(updated_filtered_df.select("Emp_ID", "Revenu"), "Emp_ID", "left").select(
    filtered_df["Emp_ID"],
    filtered_df["TauxEndettement"],
    filtered_df["Depense_Gain"],
    when(updated_filtered_df["Revenu"].isNull(), filtered_df["Revenu"]).otherwise(updated_filtered_df["Revenu"]).alias("Revenu"),
    filtered_df["Montant_revenu"]
)

# Afficher les résultats pour vérifier
filtered_df.show()

+------+---------------+------------+--------------------+--------------+
|Emp_ID|TauxEndettement|Depense_Gain|              Revenu|Montant_revenu|
+------+---------------+------------+--------------------+--------------+
|AFSY16|             27|   Crediteur|Placements Financ...|         94000|
|BQCN65|             11|    Debiteur|          Dividendes|         44000|
|CJHP88|             37|   Crediteur|Location Immobili...|         47000|
|DPNR37|             24|    Debiteur|Travail Independa...|         91000|
|DWQS91|             26|   Crediteur|Placements Financ...|         26000|
|FKWM95|             37|    Debiteur|Investissements i...|         56000|
|FRQG19|             29|   Crediteur|Salaire Net (1520...|          6000|
|GRXK41|             11|    Debiteur|          Dividendes|         17000|
|HFRK17|             42|   Crediteur|           Agricoles|         26000|
|HIDQ28|             46|   Crediteur|Location Immobili...|          5000|
|HPQQ76|             12|   Crediteur|Agricoles- Invest...|         64000|
|KINY52|             24|    Debiteur|                    |             0|
|MFVC48|             33|   Crediteur|Salaire Net (1007...|         79000|
|MGGK58|             27|   Crediteur|Investissements i...|         85000|
|NROT16|             32|   Crediteur|Dividendes- Trava...|         74000|
|OBEY66|             25|   Crediteur|Placements Financ...|         39000|
|OGUX61|              4|   Crediteur|Salaire Net (2531...|         83000|
|OOJJ49|             31|    Debiteur|Salaire Net (1522...|         65000|
|QLYU27|             11|    Debiteur|Placements Financ...|         80000|
|RHSN94|             38|    Debiteur|Investissements i...|         83000|
+------+---------------+------------+--------------------+--------------+
only showing top 20 rows

In [18]:
# Filtrer les personnes dans info_perso dont l'âge est compris entre 18 et 54
age_filtered_df = info_perso.filter(col("Age").between(18, 54))

# Filtrer les personnes dans filtered_df dont le revenu contient "Pension"
pension_filtered_df = filtered_df.filter(col("Revenu").contains("Pension"))

# Compter le nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient "Pension"
count = age_filtered_df.join(pension_filtered_df, "Emp_ID", "inner").count()

print(f"Nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient 'Pension' : {count}")

Nombre de personnes dont l'âge est compris entre 18 et 54 et dont le revenu contient 'Pension' : 0

#### Sauvegarder les données personnelles et financières nettoyées

In [35]:
# Chemin HDFS pour sauvegarder le DataFrame nettoyé
output_path = "hdfs:///Omnidata_PFE_dataset/Information_Personnelle_nettoyee.csv"

# Sauvegarder le DataFrame nettoyé en CSV
info_perso.write.csv(output_path, header=True, mode="overwrite")

In [20]:
# Chemin HDFS pour sauvegarder le DataFrame nettoyé
output_path = "hdfs:///Omnidata_PFE_dataset/Situation_Financière_nettoyee.csv"

# Sauvegarder le DataFrame nettoyé en CSV
filtered_df.write.csv(output_path, header=True, mode="overwrite")

#### Nettoyage des données de crédit des clients

In [48]:
detail_credit = spark.read.option("header", "true").option("encoding", "UTF-8").csv("/Omnidata_PFE_dataset/Détail_Crédit.csv")
detail_credit.show(truncate=False)

+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
|Emp_ID|Type_credit |Duree_pret|Objet_pret                                          |Montant_pret|Credit_score|Historique_credits_precedent                |Garanties                                                     |
+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
|PDBO18|Consommation|51        |Événements Spéciaux                                 |9945159     |20          |Paiement par prélèvement automatique        |Domiciliation révocable de salaire                            |
|URKQ44|Immobilier  |346       |Frais d'études supérieur                            |5196140     |85          |Encours des impayés                         |Caution solidaire                                             |
|CJHP88|Immobilier  |227       |Construction                                        |2665712     |82          |Paiement par défaut avec accord de règlement|Nantissement de fonds d'épargne                               |
|MFVC48|Consommation|299       |Investissement Locatif                              |1436774     |83          |Paiement par prélèvement automatique        |Domicialisation révocable de la pension                       |
|FRQG19|Consommation|153       |Investissement Locatif                              |8251804     |67          |Encours des impayés                         |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|AFSY16|Consommation|278       |Financement d'achat de Véhicules                    |4935699     |62          |Paiement par défaut avec accord de règlement|Hypothèque autre titre fonciers                               |
|OOJJ49|Consommation|238       |Rachat de l'encours de crédit d'autre compagnie     |9215173     |12          |Paiement anticipé                           |Nantissement de fonds d'épargne                               |
|GUTI55|Immobilier  |122       |Rachat de l'encours de crédit d'autre compagnie     |8803190     |0           |Paiement par prélèvement automatique        |Domiciliation de revenus                                      |
|YEBV67|Consommation|158       |Aménagement                                         |2272980     |84          |Encours des impayés                         |Domiciliation de revenus                                      |
|HFRK17|Immobilier  |154       |Événements Spéciaux                                 |3541255     |24          |Paiement par défaut avec accord de règlement|Domiciliation révocable de salaire                            |
|DPNR37|Consommation|387       |Frais d'études supérieur                            |3162905     |88          |Paiement anticipé                           |Domicialisation révocable de la pension                       |
|QLYU27|Consommation|76        |Frais d'études supérieur                            |7169525     |1           |Paiement anticipé                           |Domiciliation révocable de salaire                            |
|HHRX13|Immobilier  |333       |Rachat de l'encours de crédit d'autre compagnie     |5312212     |67          |Encours des impayés                         |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|VQVX26|Immobilier  |253       |Financement d'achat de Véhicules                    |7375961     |81          |Remboursement à  temps                      |Hypothèque autre titre fonciers                               |
|ZWDD81|Immobilier  |31        |Frais d'études supérieur                            |5517904     |89          |Paiement par prélèvement automatique        |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|FZGH80|Consommation|32        |Rachat de l'encours de crédit d'autre compagnie     |282998      |35          |Liste noire au niveau de Banque Maghreb     |Caution solidaire                                             |
|IGAI28|Immobilier  |380       |Événements Spéciaux                                 |306567      |30          |Paiement par prélèvement automatique        |Caution solidaire                                             |
|OBEY66|Immobilier  |197       |Frais d'études supérieur                            |7057857     |59          |Paiement par défaut avec accord de règlement|Nantissement de fonds d'épargne                               |
|MGGK58|Immobilier  |210       |Investissement Locatif                              |1472819     |52          |Paiement par prélèvement automatique        |Assurance Vie                                                 |
|HKES60|Immobilier  |173       |Acquisition d'une Résidence Principale ou Secondaire|6197300     |92          |Paiement par défaut avec accord de règlement|Domiciliation de revenus                                      |
+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
only showing top 20 rows

#### Arrondir la durée du prêt

In [49]:
# Arrondir la colonne Duree_pret
detail_credit = detail_credit.withColumn("Duree_pret", round(col("Duree_pret")))

# Afficher le schéma pour vérifier les types de données
detail_credit.printSchema()

# Afficher quelques lignes pour vérifier les modifications
detail_credit.show()

root
 |-- Emp_ID: string (nullable = true)
 |-- Type_credit: string (nullable = true)
 |-- Duree_pret: double (nullable = true)
 |-- Objet_pret: string (nullable = true)
 |-- Montant_pret: string (nullable = true)
 |-- Credit_score: string (nullable = true)
 |-- Historique_credits_precedent: string (nullable = true)
 |-- Garanties: string (nullable = true)

+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
|Emp_ID| Type_credit|Duree_pret|          Objet_pret|Montant_pret|Credit_score|Historique_credits_precedent|           Garanties|
+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
|PDBO18|Consommation|      51.0| Événements Spéciaux|     9945159|          20|        Paiement par prél...|Domiciliation rév...|
|URKQ44|  Immobilier|     346.0|Frais d'études su...|     5196140|          85|         Encours des impayés|   Caution solidaire|
|CJHP88|  Immobilier|     227.0|        Construction|     2665712|          82|        Paiement par défa...|Nantissement de f...|
|MFVC48|Consommation|     299.0|Investissement Lo...|     1436774|          83|        Paiement par prél...|Domicialisation r...|
|FRQG19|Consommation|     153.0|Investissement Lo...|     8251804|          67|         Encours des impayés|Hypothèque du tit...|
|AFSY16|Consommation|     278.0|Financement d'ach...|     4935699|          62|        Paiement par défa...|Hypothèque autre ...|
|OOJJ49|Consommation|     238.0|Rachat de l'encou...|     9215173|          12|           Paiement anticipé|Nantissement de f...|
|GUTI55|  Immobilier|     122.0|Rachat de l'encou...|     8803190|           0|        Paiement par prél...|Domiciliation de ...|
|YEBV67|Consommation|     158.0|         Aménagement|     2272980|          84|         Encours des impayés|Domiciliation de ...|
|HFRK17|  Immobilier|     154.0| Événements Spéciaux|     3541255|          24|        Paiement par défa...|Domiciliation rév...|
|DPNR37|Consommation|     387.0|Frais d'études su...|     3162905|          88|           Paiement anticipé|Domicialisation r...|
|QLYU27|Consommation|      76.0|Frais d'études su...|     7169525|           1|           Paiement anticipé|Domiciliation rév...|
|HHRX13|  Immobilier|     333.0|Rachat de l'encou...|     5312212|          67|         Encours des impayés|Hypothèque du tit...|
|VQVX26|  Immobilier|     253.0|Financement d'ach...|     7375961|          81|        Remboursement à  ...|Hypothèque autre ...|
|ZWDD81|  Immobilier|      31.0|Frais d'études su...|     5517904|          89|        Paiement par prél...|Hypothèque du tit...|
|FZGH80|Consommation|      32.0|Rachat de l'encou...|      282998|          35|        Liste noire au ni...|   Caution solidaire|
|IGAI28|  Immobilier|     380.0| Événements Spéciaux|      306567|          30|        Paiement par prél...|   Caution solidaire|
|OBEY66|  Immobilier|     197.0|Frais d'études su...|     7057857|          59|        Paiement par défa...|Nantissement de f...|
|MGGK58|  Immobilier|     210.0|Investissement Lo...|     1472819|          52|        Paiement par prél...|       Assurance Vie|
|HKES60|  Immobilier|     173.0|Acquisition d'une...|     6197300|          92|        Paiement par défa...|Domiciliation de ...|
+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
only showing top 20 rows

In [50]:
# Arrondir la colonne Duree_pret au multiple de 30 le plus proche
# et s'assurer que les valeurs sont dans l'intervalle [6, 400]
detail_credit = detail_credit.withColumn(
    "Duree_pret",
    when(
        col("Duree_pret") > 400,
        400
    ).otherwise(
        when(
            ceil(col("Duree_pret") / 30) * 30 < 6,
            6
        ).otherwise(
            (ceil(col("Duree_pret") / 30) * 30).cast("int")
        )
    )
)

# Afficher le schéma pour vérifier les types de données
detail_credit.printSchema()

# Afficher quelques lignes pour vérifier les modifications
detail_credit.show()

root
 |-- Emp_ID: string (nullable = true)
 |-- Type_credit: string (nullable = true)
 |-- Duree_pret: integer (nullable = true)
 |-- Objet_pret: string (nullable = true)
 |-- Montant_pret: string (nullable = true)
 |-- Credit_score: string (nullable = true)
 |-- Historique_credits_precedent: string (nullable = true)
 |-- Garanties: string (nullable = true)

+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
|Emp_ID| Type_credit|Duree_pret|          Objet_pret|Montant_pret|Credit_score|Historique_credits_precedent|           Garanties|
+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
|PDBO18|Consommation|        60| Événements Spéciaux|     9945159|          20|        Paiement par prél...|Domiciliation rév...|
|URKQ44|  Immobilier|       360|Frais d'études su...|     5196140|          85|         Encours des impayés|   Caution solidaire|
|CJHP88|  Immobilier|       240|        Construction|     2665712|          82|        Paiement par défa...|Nantissement de f...|
|MFVC48|Consommation|       300|Investissement Lo...|     1436774|          83|        Paiement par prél...|Domicialisation r...|
|FRQG19|Consommation|       180|Investissement Lo...|     8251804|          67|         Encours des impayés|Hypothèque du tit...|
|AFSY16|Consommation|       300|Financement d'ach...|     4935699|          62|        Paiement par défa...|Hypothèque autre ...|
|OOJJ49|Consommation|       240|Rachat de l'encou...|     9215173|          12|           Paiement anticipé|Nantissement de f...|
|GUTI55|  Immobilier|       150|Rachat de l'encou...|     8803190|           0|        Paiement par prél...|Domiciliation de ...|
|YEBV67|Consommation|       180|         Aménagement|     2272980|          84|         Encours des impayés|Domiciliation de ...|
|HFRK17|  Immobilier|       180| Événements Spéciaux|     3541255|          24|        Paiement par défa...|Domiciliation rév...|
|DPNR37|Consommation|       390|Frais d'études su...|     3162905|          88|           Paiement anticipé|Domicialisation r...|
|QLYU27|Consommation|        90|Frais d'études su...|     7169525|           1|           Paiement anticipé|Domiciliation rév...|
|HHRX13|  Immobilier|       360|Rachat de l'encou...|     5312212|          67|         Encours des impayés|Hypothèque du tit...|
|VQVX26|  Immobilier|       270|Financement d'ach...|     7375961|          81|        Remboursement à  ...|Hypothèque autre ...|
|ZWDD81|  Immobilier|        60|Frais d'études su...|     5517904|          89|        Paiement par prél...|Hypothèque du tit...|
|FZGH80|Consommation|        60|Rachat de l'encou...|      282998|          35|        Liste noire au ni...|   Caution solidaire|
|IGAI28|  Immobilier|       390| Événements Spéciaux|      306567|          30|        Paiement par prél...|   Caution solidaire|
|OBEY66|  Immobilier|       210|Frais d'études su...|     7057857|          59|        Paiement par défa...|Nantissement de f...|
|MGGK58|  Immobilier|       210|Investissement Lo...|     1472819|          52|        Paiement par prél...|       Assurance Vie|
|HKES60|  Immobilier|       180|Acquisition d'une...|     6197300|          92|        Paiement par défa...|Domiciliation de ...|
+------+------------+----------+--------------------+------------+------------+----------------------------+--------------------+
only showing top 20 rows

In [51]:
# Round the Montant_pret column to the nearest multiple of 1,000,000
detail_credit = detail_credit.withColumn("Montant_pret", round(col("Montant_pret") / 1000) * 1000)

# Format the Montant_pret column to string with trailing zeros
detail_credit = detail_credit.withColumn("Montant_pret", format_string("%.0f", col("Montant_pret")))

# Show the results
detail_credit.show(truncate=False)

+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
|Emp_ID|Type_credit |Duree_pret|Objet_pret                                          |Montant_pret|Credit_score|Historique_credits_precedent                |Garanties                                                     |
+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
|PDBO18|Consommation|60        |Événements Spéciaux                                 |9945000     |20          |Paiement par prélèvement automatique        |Domiciliation révocable de salaire                            |
|URKQ44|Immobilier  |360       |Frais d'études supérieur                            |5196000     |85          |Encours des impayés                         |Caution solidaire                                             |
|CJHP88|Immobilier  |240       |Construction                                        |2666000     |82          |Paiement par défaut avec accord de règlement|Nantissement de fonds d'épargne                               |
|MFVC48|Consommation|300       |Investissement Locatif                              |1437000     |83          |Paiement par prélèvement automatique        |Domicialisation révocable de la pension                       |
|FRQG19|Consommation|180       |Investissement Locatif                              |8252000     |67          |Encours des impayés                         |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|AFSY16|Consommation|300       |Financement d'achat de Véhicules                    |4936000     |62          |Paiement par défaut avec accord de règlement|Hypothèque autre titre fonciers                               |
|OOJJ49|Consommation|240       |Rachat de l'encours de crédit d'autre compagnie     |9215000     |12          |Paiement anticipé                           |Nantissement de fonds d'épargne                               |
|GUTI55|Immobilier  |150       |Rachat de l'encours de crédit d'autre compagnie     |8803000     |0           |Paiement par prélèvement automatique        |Domiciliation de revenus                                      |
|YEBV67|Consommation|180       |Aménagement                                         |2273000     |84          |Encours des impayés                         |Domiciliation de revenus                                      |
|HFRK17|Immobilier  |180       |Événements Spéciaux                                 |3541000     |24          |Paiement par défaut avec accord de règlement|Domiciliation révocable de salaire                            |
|DPNR37|Consommation|390       |Frais d'études supérieur                            |3163000     |88          |Paiement anticipé                           |Domicialisation révocable de la pension                       |
|QLYU27|Consommation|90        |Frais d'études supérieur                            |7170000     |1           |Paiement anticipé                           |Domiciliation révocable de salaire                            |
|HHRX13|Immobilier  |360       |Rachat de l'encours de crédit d'autre compagnie     |5312000     |67          |Encours des impayés                         |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|VQVX26|Immobilier  |270       |Financement d'achat de Véhicules                    |7376000     |81          |Remboursement à  temps                      |Hypothèque autre titre fonciers                               |
|ZWDD81|Immobilier  |60        |Frais d'études supérieur                            |5518000     |89          |Paiement par prélèvement automatique        |Hypothèque du titre foncier du bien Immobilier objet de crédit|
|FZGH80|Consommation|60        |Rachat de l'encours de crédit d'autre compagnie     |283000      |35          |Liste noire au niveau de Banque Maghreb     |Caution solidaire                                             |
|IGAI28|Immobilier  |390       |Événements Spéciaux                                 |307000      |30          |Paiement par prélèvement automatique        |Caution solidaire                                             |
|OBEY66|Immobilier  |210       |Frais d'études supérieur                            |7058000     |59          |Paiement par défaut avec accord de règlement|Nantissement de fonds d'épargne                               |
|MGGK58|Immobilier  |210       |Investissement Locatif                              |1473000     |52          |Paiement par prélèvement automatique        |Assurance Vie                                                 |
|HKES60|Immobilier  |180       |Acquisition d'une Résidence Principale ou Secondaire|6197000     |92          |Paiement par défaut avec accord de règlement|Domiciliation de revenus                                      |
+------+------------+----------+----------------------------------------------------+------------+------------+--------------------------------------------+--------------------------------------------------------------+
only showing top 20 rows

#### Sauvegarder les données de crédit nettoyées des clients

In [52]:
# Chemin HDFS pour sauvegarder le DataFrame nettoyé
output_path = "hdfs:///Omnidata_PFE_dataset/Détail_Crédit_nettoyee.csv"

# Sauvegarder le DataFrame nettoyé en CSV
detail_credit.write.csv(output_path, header=True, mode="overwrite")

In [44]:
# Arrêter la session Spark
spark.stop()